*
  margin: 0
  padding: 0

gutter-size = 20px

html, body
  height: 100%
  -webkit-user-select: none

#body
  height: 100%
  display: flex
  flex-direction: column

header
  flex: none
  height: 50px

#main
  flex: auto
  display: flex

#rooms
  width: 100px

  .room
    display: flex
    white-space: nowrap

  .room-name
    text-overflow: ellipsis
    overflow: hidden
    flex: 1

#current-room
  flex: 1
  display: flex
  flex-direction: column

#room-header
  line-height: 40px

#room-content
  display: flex
  flex: 1

#messages-container
  display: flex
  flex: 1
  flex-direction: column

#messages-list
  flex: auto
  overflow-y: scroll
  .message
    .gutter
      float: left
      width: gutter-size
      height: gutter-size
    .message-content
      -webkit-user-select: text
      .attribution
        font-size: 0
    .message-timestamp
      float: right

#message-input
  flex: none
  resize: none
  &:focus
    outline: none

#users
  width: 100px
