body, textarea
  font-family: sans-serif
  font-size: 13pt

header
  background-color: #ff8
#rooms
  background-color:#f88
  .room-name
    background-color: #ff0
  .unread-count
    background-color: #88f

#room-header
  background-color: #0f0

#messages-container
  background-color: #8f8
  .message
    &.quick .message-timestamp
      visibility: hidden
    &:not(.repeat-sender):not(:first-of-type)
      border-top: solid 1px black
    &.repeat-sender .message-sender
      visibility: hidden
    .message-content
      background-color: #fff

#messages-list
  background-color: #8ff

#users
  background-color:#88f
