*
  margin: 0
  padding: 0

body, textarea
  font-family: sans-serif

html, body
  height: 100%

#body
  height: 100%
  display: flex
  flex-direction: column

header
  background-color: #ff8
  flex: none
  height: 50px

#main
  flex: auto
  display: flex

#rooms
  background-color:#f88
  width: 100px

  .room
    display: flex
    white-space: nowrap

  .room-name
    text-overflow: ellipsis
    background-color: #ff0
    overflow: hidden
    flex: 1

  .unread-count
    background-color: #88f

#current-room
  flex: 1
  display: flex
  flex-direction: column

#room-header
  height: 50px
  background-color: #0f0

#room-content
  display: flex
  flex: 1

#messages-container
  background-color:#8f8
  display: flex
  flex: 1
  flex-direction: column

#messages-list
  background-color: #8ff
  flex: auto
  overflow-y: scroll

#message-input
  flex: none
  resize: none
  &:focus
    outline: none

#users
  width: 100px
  background-color:#88f
