{{#if showTimeStamp}}
  <div class="message-timestamp">{{time}}</div>
{{/if}}
{{#unless isRepeatSender}}
  {{inline-user user=user left=true}}
{{/unless}}
<div class="message-content"><span class="attribution">{{user.name}}: </span>{{{htmlContent}}}</div>
